@font-face {
    font-family: "perfect_dos_vga_437";
    src: url("./fonts/perfect_dos_vga_437/Perfect\ DOS\ VGA\ 437.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("./fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

:root {
    --highlight-color: orange;
    --border-color: #cfcfcf;
    --background-color: #fafafa;
    --header-background-color: #ebebeb;
    --content-background-color: #ffffff;
    --warning-background-color: #ffd486;
    --text-color: #323232;
    --icon-color: #6e6e6e;

    --selected-background-color: #d8d8d8;
    --hover-background-color: #dedede;

    --font-body: "Nunito", sans-serif;
    --font-dos: "perfect_dos_vga_437", Terminal, monospace;
    --font-monospace: "Ubuntu Mono", monospace;

    --page-gap: 0.5em;

    color: var(--text-color);
}

@media (min-width: 920px) {
    :root {
        --page-gap: 1em;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --highlight-color: orange;
        --border-color: #454545;
        --background-color: #242424;
        --header-background-color: #303030;
        --content-background-color: #363636;
        --warning-background-color: #9c381a;
        --text-color: #f5f5f5;
        --icon-color: #bdbdbd;

        --selected-background-color: #3a3a3a;
        --hover-background-color: #333333;
    }
}

body {
    background: #70234e;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;    
    font-family: var(--font-body);
    overflow: auto;
}

@media (min-width: 920px) {
    body {
        padding: var(--page-vertical-margin) 0;
    }
}

.hidden {
    display: none;
}

header {
    border-bottom: 1px solid var(--border-color);        
    padding: 1em 1em;
    text-align: center;
    background: var(--header-background-color);        
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 24px;
    height: 54px;
    box-sizing: border-box;
}

header.compact {
    padding: 0.25em;
}

header h2 {
    padding: 0;
    margin: 0;
    font-size: 1em;
    flex-grow: 1;
}

h2 {
    font-size: 14pt;
    font-weight: 400;
}    

.full-width {
    width: 100%;
}

.styled-table {
    border-collapse: collapse;
}

.styled-table th {
    background-color: var(--header-background-color);
    text-align: left;
    font-weight: normal;
}

.styled-table th, td {
    border: 1px solid var(--border-color);
    padding: 0.2em;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid gray;
    border-radius: 6px;
    min-height: 20vh;
    box-sizing: border-box;
    background-color: var(--content-background-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: 0;
    font-family: var(--font-monospace);
    resize: none;
    margin: 0;
    outline: none;
}

input {
    background-color: var(--content-background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

input:disabled {
    background-color: var(--header-background-color);
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}    

.nav label {
    font-size: 0.9em;
    padding: 0.5em 1em;
    display: block;
}

.nav hr {
    height: 1px;
    border: none;
    background: var(--border-color);
    margin: 0.75em -0.75em;
}   

.nav ul li {
    margin: 1px 0;
}

.nav ul li a,
.nav ul li button {
    text-decoration: none;
    color: inherit;
    font-size: 0.9em;
    padding: 0.5em 1em;
    display: block;
    border-radius: 6px;        
}

.nav ul li a:hover,
.nav ul li button:hover {
    background-color: var(--hover-background-color);
}

.nav ul li a.active,
.nav ul li button:active {
    background-color: var(--selected-background-color);
}

.codemirror-outer-wrapper {
    position: relative;
    flex-grow: 1;
    height: 100%;
}

.codemirror-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
}

.codemirror-wrapper, .cm-editor {
    height: 100%;    
}    

.cm-scroller {
    font-family: var(--font-monospace) !important;
}
