@font-face {
    font-family: "perfect_dos_vga_437";
    src: url("./fonts/perfect_dos_vga_437/Perfect\ DOS\ VGA\ 437.ttf");
}

:root {
    --highlight-color: orange;
    --border-color: #cfcfcf;
    --background-color: #fafafa;
    --header-background-color: #ebebeb;
    --content-background-color: #ffffff;
    --warning-background-color: #ffd486;
    --text-color: #323232;

    color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --highlight-color: orange;
        --border-color: #454545;
        --background-color: #242424;
        --header-background-color: #303030;
        --content-background-color: #363636;
        --text-color: #f5f5f5;
        --warning-background-color: #9c381a;
    }
}

body {
    background: #70234e;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 2em;
    font-family: sans-serif;
    overflow: auto;
}

.hidden {
    display: none;
}

header {
    border-bottom: 1px solid var(--border-color);        
    padding: 1em;
    text-align: center;
    background: var(--header-background-color);        
}

header h2 {
    padding: 0;
    margin: 0;
    font-size: 12pt;
}

h2 {
    font-size: 14pt;
    font-weight: 400;
}    

.full-width {
    width: 100%;
}

.styled-table {
    border-collapse: collapse;
}

.styled-table th {
    background-color: var(--header-background-color);
    text-align: left;
    font-weight: normal;
}

.styled-table th, td {
    border: 1px solid var(--border-color);
    padding: 0.2em;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid gray;
    border-radius: 6px;
    min-height: 20vh;
    box-sizing: border-box;
    background-color: var(--content-background-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: 0;
}

input {
    background-color: var(--content-background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}    

.nav ul li {
    margin: 1px 0;
}

.nav ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 0.9em;
    padding: 0.5em 1em;
    display: block;
    border-radius: 6px;        
}

.nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.nav ul li a.active {
    background-color: rgba(0, 0, 0, 0.1);
}